<div class="container">
  <h1 class="text-center">Meal Tracker</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <app-meal-form></app-meal-form>
    </div>
    <div class="col-md-6">
      <div class="card" *ngFor='let meal of meals; let i = index'>
        <h4 class="text-center">{{meal.name}}</h4>
        <button *ngIf='meal.showDetailsBtn' class="btn btn-outline-dark" (click)='toggleDetails(i)'>Show Details</button>
        <app-meal-detail [meal]='meal' *ngIf='meal.showDetails' ></app-meal-detail>

      </div>

    </div>
  </div>

</div>
